.wrapper{
	width:900px;
	margin: auto;
	font-family: Georgia;
}
h1{
	text-align: center;
	margin: 30px;
	font-size: 70px;
}
img{
	width: 100%;
}
.introheader{
	padding:0;
	text-align: center;
}
.pageheader{
	text-align: center;
	font-size:40px;
	margin-top: 60px;
}
.columnheader{
	text-align: center;
}
.navbar{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.nav-item{
	font-family: Georgia;
	display: inline;
	background-color: green;
	padding: 20px;
	margin: 10px;
	border-style: solid;
	border-width: 1px;
	text-transform: uppercase;
}
a:link, a:visited{
	text-align: center;
	text-decoration: none;
	color: white;
}
.bodytext{
	border-style: solid;
	border-width: 1px;
	margin: 50px;
	padding: 10px;
	height: 600px;
}
.notfirstpara{
	text-indent: 25px;
}
.goodbooks{
	float: right;
	width: 200px;
	margin: 0 0 10px 10px;
	padding:15px;
	text-align: center;
	font-size: 10px;
}
.goodbooks a{
	color: black;
}
#goodbooks{
	width:161px;
	height:250px;
}
.left, .right{
	float: left;
	width: 50%;
	height: 250px;
}
.books{
	padding-left: 15px;
}
.books a{
	color: green;
}
.coverimage{
	float: left;
	width: 197px;
	height: 300px;
	margin: 10px;
}





